<center><u><H1>Dictionaries</H1></u></center>

Dictionaries are composed of key and values. Each key is separated from its value by a colon `:`, the items are separated by  commas, and the whole thing is enclosed in curly braces.  An empty dictionary without any items is written with just two curly braces `{}`.

Keys are unique within a dictionary while values may not be. The values of a dictionary can be of any type, 
but the keys must be of an immutable data type such as strings, numbers, or tuples.

In [16]:
tel = {'jack': 4098, 'rose': 4139}

Similarly to strings and lists we can access a cell a key using `[]`.

In [17]:
tel['jack']

4098

We can add a key in the following way.

In [18]:
tel['guido'] = 4127

In [19]:
tel

{'jack': 4098, 'rose': 4139, 'guido': 4127}

In [21]:
tel['jack_2'] = 320 
tel

{'jack': 4098, 'rose': 4139, 'guido': 4127, 'jack_2': 320}

In [15]:
tel['jack'] = 5000
tel

{'jack': 5000, 'rose': 4139, 'guido': 4127}

We can also delete a key from a dictionary.

In [5]:
del tel['rose']
print(tel)

{'jack': 4098, 'guido': 4127}

We can ask Python to list all the keys in a dictionary.

In [22]:
list(tel.keys())

['jack', 'rose', 'guido', 'jack_2']

The key and values of a dictionray can be sorted using `sort` method.

In [23]:
print(sorted(tel.keys()))
print(sorted(tel.values()))

['guido', 'jack', 'jack_2', 'rose']
[320, 4098, 4127, 4139]

You can do a quick check if a key is in the dictionary by

In [24]:
'guido' in tel

True

In [25]:
'python' in tel

False

In [26]:
tel['python'] = [123, 456, 789]

In [27]:
tel

{'jack': 4098,
 'rose': 4139,
 'guido': 4127,
 'jack_2': 320,
 'python': [123, 456, 789]}

In [28]:
print(sorted(tel.values()))

TypeError: '<' not supported between instances of 'list' and 'int'

In [ ]:
print(sorted(tel.keys()))

### Challenge: Create a nested dictionary. A nested dictionary is a dictionary inside a dictionary.

In [30]:
dict_1 = {
    "one" : 1,
    "two" : 2,
    "threefourfive" : [3,4,5]
}

dict_1

{'one': 1, 'two': 2, 'threefourfive': [3, 4, 5]}

###  References

https://www.tutorialspoint.com/python/python_dictionary.htm